<div class="table-responsive">
	<table class="table table-bordered">
		<thead style="background-color: lightcoral;">
		  <tr>
			<th>Crop</th>
			<th>Quantity(kg)</th>
			<th>Desscription</th>
			<th>Location</th>
			<th>Contact</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<td>Potatoes</td>
			<td>100</td>
			<td>We need Big Size Potatoes</td>
			<td>Tambaram,Chennai</td>
			<td><button class="btn" data-toggle="modal" data-target="#myModal">Contact</button></td>
		  </tr>
		  <tr>
			<td>Garlic</td>
			<td>500</td>
			<td>Good quality White Garlic</td>
			<td>Solan,Himachal</td>
			<td><button class="btn" data-toggle="modal" data-target="#myModal1">Contact</button></td>
		  </tr>
		  <tr>
			<td>Cotton</td>
			<td>2000</td>
			<td>We need Big Size Potatoes</td>
			<td>Bangalore near E-city</td>
			<td><button class="btn" data-toggle="modal" data-target="#myModal2">Contact</button></td>
		  </tr>
		</tbody>
	</table>
</div>
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #D3564A;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Garlic required</h4>
        </div>
        <div class="modal-body" style="background-color: #2F2F2F;height:170px;padding: 3% 0px;">
			 <div class="col-sm-12">
				<div class="col-sm-5">
					<img src="images/garlic.jpg" style="height:130px"/>
				</div>
				<div class="col-sm-7">
				<p>We need the Fresh Garlic for Innternation supply</p>
				<div><b>Size:</b>70 to 100 g</div>
				<div><b>Qty:</b>500Kg</div>
				<div><b>Address:</b>shop 21/5 near Sabji mandi solan HP</div>
				<div><b>Contact:</b>987987987987</div>
				</div>
			 </div>
        </div>
        <div class="modal-footer"style="background-color: #D3564A;margin-top: 0px;">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #D3564A;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Potatoes required</h4>
        </div>
        <div class="modal-body" style="background-color: #2F2F2F;height:170px;padding: 3% 0px;">
			 <div class="col-sm-12">
				<div class="col-sm-5">
					<img src="images/potatoesimg.jpg" style="height:130px"/>
				</div>
				<div class="col-sm-7">
				<p>We need the Fresh Potatoes for domestic supply Daily</p>
				<div><b>Size:</b>100 to 150 g</div>
				<div><b>Qty:</b>100Kg</div>
				<div><b>Address:</b>shop 23/5 near k-Mart Tambaram</div>
				<div><b>Contact:</b>9740447030</div>
				</div>
			 </div>
        </div>
        <div class="modal-footer"style="background-color: #D3564A;margin-top: 0px;">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #D3564A;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cotton required</h4>
        </div>
        <div class="modal-body" style="background-color: #2F2F2F;height:170px;padding: 3% 0px;">
			 <div class="col-sm-12">
				<div class="col-sm-5">
					<img src="images/cotton.jpg" style="height:130px"/>
				</div>
				<div class="col-sm-7">
				<p>Good Quality Cotton for Industrial supply weekly</p>
			
				<div><b>Qty:</b>2000Kg</div>
				<div><b>Address:</b>Vijay Cotton Mill Ecity Bangalore</div>
				<div><b>Contact:</b>797988978</div>
				</div>
			 </div>
        </div>
        <div class="modal-footer"style="background-color: #D3564A;margin-top: 0px;">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>