<div class="row banner img-responsive">
	<div class="header">
		<div class="container">	
			<div class="logo">
				<a href="#"><img class="img-responsive" src="images/logos.png" alt=""/></a>
			</div>
		</div>
	</div>
	<div class="container" style="height:400px;">
		<div class="text-center button-section" style="top: 50%;position: relative;">
			<span><button class="btn btn-primary knowledge-service btn-lg p-20" style="height: 70px;    width: 18%;" type="button" ng-click="knowledgeService()">Knowledge Service</button></span>
			<span class="ml-30"><a class="btn btn-primary btn-lg e-market p-20" style="height: 70px;     width: 18%; padding-top: 2%;"ng-click="eMarket()">E-Market</a></span>
		</div>        
	</div>
</div>
