 <h1 class="page-header" style="color:black;">Welcome Nikhil</h1>
<div class="container">
<div class="row" style="font-size: 20px;padding: 1%;background-color: #2F2F2F;margin-bottom: 2%;"><b>Basic Details</b></div>
	<form class="form-horizontal" role="form" style="color: black;">
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fid">Farmer id:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" id="fid" placeholder="Farmer id">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fname">Farmer Name:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" id="fname" placeholder="Farmer Name">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fsex">Sex:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" id="fsex" placeholder="Sex">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="pwd">text:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" id="pwd" placeholder="Enter text">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fdob">D.O.B(dd/mm/yyyy):</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" id="fdob" placeholder="Date Of Birth">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fEQ">Educational Qualification:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" id="fEQ" placeholder="Educational Qualification">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fJD">Job Description:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" id="fJD" placeholder="Job Description">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fFname">Father's Name:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" id="fFname" placeholder="Father's Name">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fAddress">Address:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" id="fAddress" placeholder="Address">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fVillage">Village:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" id="fVillage" placeholder="Village">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fPanchayat">Panchayat:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" id="fPanchayat" placeholder="Enter text">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fZone">Zone:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" id="fZone" placeholder="Zone">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fDistrict">District:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" id="fDistrict" placeholder="District">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fState">State:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" id="fState" placeholder="State">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fMobile">Mobile No:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" id="fMobile" placeholder="Mobile No">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fEmailId">EmailId:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" id="fEmailId" placeholder="EmailId">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fKno">Kisan card No.:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" id="fKno" placeholder="Kisan card No.">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fAno">Aadhar Card No.:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" id="fAno" placeholder="Aadhar Card No.">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fBankName">Bank Name:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" id="fBankName" placeholder="Bank Name">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fBranchName">Branch Name:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" id="fBranchName" placeholder="Branch Name">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fBankAccNo">Bank Acc No.:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" id="fBankAccNo" placeholder="Bank Acc No.">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fAccName">Acc Holder Name:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" id="fAccName" placeholder="Acc Holder Name">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fBloodGroup">Blood Group:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" id="fBloodGroup" placeholder="Blood Group">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fOrganic">Organic Farming(Y/N):</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" id="fOrganic" placeholder="Organic Farming(Y/N)">
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fOtherSkills">Other Skills:</label>
				<div class="col-sm-8">
				  <input type="text" class="form-control" id="fOtherSkills" placeholder="Other Skills">
				</div>
			  </div>
			  <div class="form-group col-sm-6">
				<label class="control-label col-sm-4" for="fHobbies">Hobbies:</label>
				<div class="col-sm-8"> 
				  <input type="text" class="form-control" id="fHobbies" placeholder="Hobbies">
				</div>
			  </div>
			</div>
		</div>	  
</form>
</div>
